BasedOnStyle: Microsoft
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
SpaceBeforeParens: ControlStatements
NamespaceIndentation: None
FixNamespaceComments: true
SeparateDefinitionBlocks: Always
